<!-- about.ejs, Ming Jie Wang, 301188372, Oct.2,2022 -->
<!-- about me page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <h5 class="text">
        <!-- short paragraph -->
        <img src="./Assets/images/photo.png" class="img">
        Hello, and welcome to my about page. My legal name is Ming Jie Wang
        and my perfered English name is Jacky. I am currently studying in 
        game programming. My favourite activities are
        gaming, watching anime, reading manga, hanging out with friends, sleeping, and puzzles.
        I am a huge gamer and a weeb, to the point my friends are annoyed about it.
        I have no preferred seasons since I dislike both hot and cold weathers.
        Currently I am mostly playing Genshin Impact, and is trying to find
        games that my close friends can all play. Here is my
        <a href="./Assets/images/My Resume.pdf">resume.</a>
      </h5>

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




