<!-- index.ejs, Ming Jie Wang, 301188372, Oct.2,2022 -->
<!-- Home page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <!-- display text -->
      <h5 class="text">
        Welcome to my Home page! My mission is to learn web design for future uses. Check
        out my <a href="/about">about page</a>

        <!-- gifs for design -->
        <img src="https://64.media.tumblr.com/7cb7fccb411c0dfbb47c9318d8bc3a19/6ad548f93288ffd9-75/s1280x1920/614eb8ead1f360d519004bbacd9b526d98183cf3.gif" id="resize">
        <img src="https://i.pinimg.com/originals/51/11/1e/51111ec7b46315804196c75853dddc68.gif" id="resize">
      <h5>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




