<!-- services.ejs, Ming Jie Wang, 301188372, Oct.2,2022 -->
<!-- service page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <h6 class="text">
      <!-- table for design -->
        <table>
          <tr>
          <!-- images and text -->
            <td><img src="./Assets/images/Programming.jpg" class="project"></td>
            <td>
              Since I am studying game programming, I can offer help for game programming,
              as well as a few programming languages such as C++, Java, Python, and Turing.
            </td>
          </tr>
          <tr>
            <td><img src="./Assets/images/bartending.jpg" class="project"></td>
            <td>
              I work part time as a bartender in Real Fruit, therefore I can also offer bubble teas.
            </td>
          </tr>
        </table>
      </h6>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




