<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
    <h6 class="text1">
    <div class="row">
        <div class="offset-md-1 col-md-11">
        <br><br><br>
            <h1>Business Contact</h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/business-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Business Contact</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-3">Contact Name</th>
                        <th class="text-center col-3">Contact Number</th>
                        <th class="text-center col-3">Email Address</th>
                        <th class="text-center col-1.5"></th>
                        <th class="text-center col-1.5"></th>
                    <% } else { %>
                        <th class="text-center col-3">Contact Name</th>
                        <th class="text-center col-3">Contact Number</th>
                        <th class="text-center col-3">Email Address</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->
                
                <!-- sorting -->
                <!-- create name array to store all the names in BusinessList -->
                <% let name = []%>
                <% for(let x = 0; x<BusinessList.length; x++){ %>
                    <% name[x] = BusinessList[x].name.charAt(0) %> 
                <% } %>


                <% let newArray = []%>
                <% let num = 0%>

                <!-- forloop to build the newArray -->
                <% for(let x = 0; x<name.length; x++){ %>
                    <% let location = 0%>
                    <% let largest = name[0] %>
                    
                    <!-- forloop to find the names in alphabetical order -->
                    <% for(let y = 0; y<name.length; y++){ %>
                        <% if(name[y] < largest) { %>
                            <% largest = name[y] %>
                            <% location = y %>
                        <% } %>
                    <% } %>

                    <% newArray[x] = location %>
                    <% name[location] = '\uffff' %>
                <% } %>



                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-3"><%= BusinessList[newArray[count]].name %></td>
                            <td class="text-center col-3"><%= BusinessList[newArray[count]].number %></td>
                            <td class="text-center col-3"><%= BusinessList[newArray[count]].email %></td>           
                            <td class="text-center col-1.5">
                                <a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1.5">
                                <a href="/business-list/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                         <% } else { %>
                            <td class="text-center col-3"><%= BusinessList[newArray[count]].name %></td>
                            <td class="text-center col-3"><%= BusinessList[newArray[count]].number %></td>
                            <td class="text-center col-3"><%= BusinessList[newArray[count]].email %></td>
                         <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
        </div>
        </h5>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





